@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

:root {
     --brand-dark-blue-color: #162C55;
     --white-color: #ffffff;
}

button {
     cursor: pointer;
}

* {
     margin: 0;
}

.wrapper {
     font-family: Inter;
     font-weight: 500;
     width: 100%;
     box-sizing: border-box;
     overflow: hidden;
     /* display: flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 10%; */
}

.header_section {
     margin: 13px 175px;

}

.header_menu_container {
     display: flex;
     justify-content: space-evenly;
}

.logo_menu {}

.header_menu {}

.link_header_container {
     margin-top: 10px;
}

.header_links_button {
     text-decoration: none;
     border-radius: 50px;
     border: 1px solid #1C2D5B;
     margin: 10px;
}

.languages_button {
     padding: 4px 8px;
     font-weight: 400;
     font-size: 10px;
}

.languages_button img {
     padding: 0 3px;
}

.flag_icon {
     position: relative;
     top: 2px;
}


.like_button {
     background-color: #162C55;
     color: white;
     font-size: 9px;
     font-weight: 700;
     padding: 5px 8px;
     text-align: center;
}

.like_button img {
     position: relative;
     top: 2.5px;
}

.sepa_icon {
     display: inline-block;
     position: relative;
     top: 6px;
}

.menu_header {
     width: 100%;
     margin-top: 30px;
     font-weight: 700;
     font-size: 10px;
}

.menu_list {
     width: 100%;
     display: flex;
     list-style: none;
     justify-content: space-between;
     padding: 0;
}

.menu_list a {
     text-decoration: none;
     font-weight: 700;
     font-size: 10px;
     color: var(--brand-dark-blue-color);
}

.banner_section {
     height: 300px;
}

.banner_photo {
     width: 100%;
}

.banner_button_container {
     display: flex;
     padding: 0 50px;
     justify-content: space-between;
     position: relative;
     bottom: 215px;
}

.banner_button {
     background-color: var(--brand-dark-blue-color);
     border: none;
     width: 32px;
     height: 32px;
     border-radius: 5px;
}

.read_more_banner_button {
     font-weight: 700;
     font-size: 8px;
     line-height: 9.68px;
     color: #F4BC11;
     background-color: transparent;
     border: 1px solid #F4BC11;
     border-radius: 50px;
     padding: 4px 8px;
     position: relative;
     bottom: 160px;
     left: 240px;
     cursor: pointer;
}

.read_more_img {
     padding-left: 9px;
     padding-right: 7px;
     position: relative;
     top: 1.3px;
}

.banner_navigation_container {
     height: 50px;
     position: relative;
     bottom: 85px;
     left: 550px;
     width: 100%;
}

.banner_navigation_container span {
     background-color: #ffffff;
     width: 10px;
     height: 10px;
     border-radius: 5px;
     /* color: #162C55; */
     position: absolute;
     cursor: pointer;
}

.about_us_in_img {
     height: 170px;
     background-color: #D0DFF4;
     display: flex;
     margin-top: 80px;
     justify-content: center;
     align-items: center;
     gap: 160px;
}

.promise_container h1 {
     padding-top: 35px;
}

.promise_container img {
     position: relative;
     top: 12px;
}

.about_us_header {
     font-weight: 900;
     font-size: 17px;
     line-height: 20.57px;
     color: var(--brand-dark-blue-color);
     padding-top: 15px;
}

.about_us_content {
     font-weight: 500;
     font-size: 8px;
     line-height: 9.68px;
     color: var(--brand-dark-blue-color);
     padding-top: 4px;
}



.work_model_container {}

.focus_container h2 {
     padding-top: 23px;
}

.focus_container img {
     position: relative;
     top: 2px;
}

.news_section {
     display: flex;
     height: 300px;
     margin-bottom: 20px;

}

.news_content {
     flex: 1.5;
     padding-top: 55px;
     padding-left: 183px;
}

.section_header {
     font-weight: 900;
     font-size: 18px;
     line-height: 1.21;
     color: var(--brand-dark-blue-color);
}

.news_header {
     width: 156px;
}

.news_content p {
     font-weight: 500;
     font-size: 10px;
     line-height: 1.2;
     width: 253px;
     padding-top: 7px;
     margin-bottom: 23px;
}

.read_more_button {
     font-weight: 700;
     font-size: 8px;
     border: 1px solid #1C2D5B;
     border-radius: 50px;
     padding: 5px 12px;
}

.arrow_button_blue {
     padding-left: 12px;
     position: relative;
     top: 1px;
}

.news_photo_container {
     flex: 2;
}

.news_photo {
     width: 100%;
}

.our_projects {

     margin-top: 100px;
     background-image: url(./img/news_section/flag_of_Ukraine_background.png);
     background-repeat: no-repeat;
     background-position: top right;
     background-size: cover;
}

.our_projects h3 {
     padding-left: 183px;
}

.main_projects_container {
     padding-left: 183px;
     margin-top: 33px;
     display: flex;
     padding-right: 15px;
     margin-right: 15px;
}

.project_container {
     height: 430px;
     width: 240px;
     margin-right: 15px;
     background-color: #ffffff;
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     -webkit-box-shadow: -4px 7px 5px 1px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: -4px 7px 5px 1px rgba(0, 0, 0, 0.15);
     box-shadow: -4px 7px 5px 1px rgba(0, 0, 0, 0.15);
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

.project_photo {
     width: 240px;
     height: 200px;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}


.section_subheader {
     padding-top: 10px;
     padding-left: 15px;
     font-weight: 900;
     font-size: 16px;
     line-height: 1.2;
     color: var(--brand-dark-blue-color);
}

.project_content {
     padding: 10px;
     padding-left: 15px;
     font-weight: 500;
     font-size: 12px;
     line-height: 1.2;
     color: var(--brand-dark-blue-color);
}

.read_more_project {
     padding-left: 15px;
     font-weight: 500;
     font-size: 14px;
     color: var(--brand-dark-blue-color);
     padding-bottom: 20px;
}

.arrow_right {
     width: 10px;
}

.our_projects_button_container {
     padding-top: 30px;
     display: flex;
     gap: 20px;
     justify-content: center;
     padding-bottom: 120px;
}


.banner_button {}

.prev_banner_button {}

.next_banner_button {}